<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/layui/css/layui.css}" media="all">
    <link rel="stylesheet" th:href="@{/css/layuimini.css?v=2.0.4.2}" media="all">
    <link rel="stylesheet" th:href="@{/css/themes/default.css}" media="all">
    <link rel="stylesheet" th:href="@{/lib/font-awesome-4.7.0/css/font-awesome.min.css}" media="all">
    <style>
        .div-content {
            background-color: white;
            border-radius: 5px;
            padding: 15px;
        }
        .table-search-fieldset {
            margin: 0;
            border: 1px solid #e6e6e6;
            padding: 10px 20px 5px 20px;
            color: #6b6b6b;
        }
    </style>
</head>
<body>
    <div class="div-content">
        <form class="layui-form layui-form-pane">
        <fieldset class="table-search-fieldset">
            <legend>搜索条件</legend>
            <div class="layui-form-item">

                <div class="layui-inline">
                    <label class="layui-form-label">员工姓名</label>
                    <div class="layui-input-inline" style="width: 150px;">
                        <input type="text" name="name" autocomplete="off" class="layui-input">
                    </div>
                </div>

                <div class="layui-inline">
                    <label class="layui-form-label">生日</label>
                    <div class="layui-input-inline" style="width: 120px;">
                        <input type="text" name="startDate" placeholder="开始日期" autocomplete="off" class="layui-input date">
                    </div>
                    <div class="layui-form-mid">-</div>
                    <div class="layui-input-inline" style="width: 120px;">
                        <input type="text" name="endDate" placeholder="结束日期" autocomplete="off" class="layui-input date">
                    </div>
                </div>

                <div class="layui-inline">
                    <button lay-submit lay-filter="btn-search-filter" type="button" class="layui-btn layui-btn-radius layui-btn-normal">
                        <i class="layui-icon layui-icon-search"></i>
                        搜索
                    </button>
                </div>

                <table id="table-emp" lay-filter="table-emp-filter"></table>

            </div>
        </fieldset>
        </form>
    </div>
    <script th:src="@{/layui/layui.js}" charset="utf-8"></script>
    <script th:inline="javascript">
        var ctxPath = [[@{/}]];
        layui.use(['laydate','table','form'], function(){
            var laydate = layui.laydate;
            var table = layui.table;
            var form = layui.form;

            //执行一个laydate实例
            laydate.render({
                elem: '.date' //指定元素
            });
            //员工列表表格渲染
            table.render({
                elem: '#table-emp'
                ,url: ctxPath + 'emp/list' //数据接口
                ,page: true //开启分页
                ,limits:[5,10,30,50,100]
                ,cols: [[ //表头
                    {field: 'empId', title: '员工编号', width:120, sort: true}
                    ,{field: 'name', title: '姓名', width:140}
                    ,{field: 'sex', title: '性别', width:80}
                    ,{field: 'age', title: '年龄', width:100, sort: true}
                    ,{field: 'sal', title: '工资', width: 80}
                    ,{field: 'dept', title: '部门', width: 100, sort: true}
                    ,{field: 'birthday', title: '生日', width: 160, sort: true}
                    ,{field: 'address', title: '家庭住址'}
                    ,{title: '操作', width: 135}
                ]]
            });

            //监听表单提交
            form.on('submit(btn-search-filter)', function(data){
                console.log(data.field) //当前容器的全部表单字段，名值对形式：{name: value}
                //刷新表格
                table.reload('table-emp', {
                    where: { //设定异步数据接口的额外参数，任意设
                        name:data.field.name,
                        startDate:data.field.startDate,
                        endDate:data.field.endDate
                    }
                    ,page: {
                        curr: 1 //重新从第 1 页开始
                    }
                });
                return false; //阻止表单跳转。如果需要表单跳转，去掉这段即可。
            });
        });
    </script>
</body>
</html>